@import url("./_typography.css");

:root {
  /* URL: https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
  /* CSS HEX */
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-gray: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --sonic-silver: #6c757dff;
  --davys-grey: #495057ff;
  --onyx: #343a40ff;
  --eerie-black: #212529ff;

  /* CSS HSL */
  --cultured: hsla(210, 17%, 98%, 1);
  --cultured-2: hsla(210, 16%, 93%, 1);
  --gainsboro: hsla(210, 14%, 89%, 1);
  --light-gray: hsla(210, 14%, 83%, 1);
  --cadet-blue-crayola: hsla(210, 11%, 71%, 1);
  --sonic-silver: hsla(208, 7%, 46%, 1);
  --davys-grey: hsla(210, 9%, 31%, 1);
  --onyx: hsla(210, 10%, 23%, 1);
  --eerie-black: hsla(210, 11%, 15%, 1);

  --color-bg: var(--cultured);
  --color-bg-muted: var(--gainsboro);
  --color-text: var(--eerie-black);
  --color-text-muted: var(--davys-grey);
  --color-shadow: var(--cadet-blue-crayola);

  --space-s: 0.25rem;
  --space-m: 0.5rem;
  --space-l: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --border-radius-s: 4px;
  --border-radius-m: 6px;

  --border-width-s: 1px;
  --border-width: 2px;

  --content-width: 940px;

  --duration: 300ms;
  --animation-duration: 900ms;
}

@media (prefers-reduced-motion) {
  :root {
    --duration: 0;
    --animation-duration: 0;
    --scroll-behavior: initial;
  }
}

html {
  background-color: var(--color-bg);
  color: var(--color-text-muted);
}

body {
  box-sizing: border-box;
  margin: 0;
  max-width: var(--content-width);
}

main {
  margin: var(--space-l) 0;
}

img,
picture {
  display: block;
  max-height: 100%;
  max-width: 100%;
  background-color: transparent;
}

::selection {
  background-color: var(--color-text-muted);
  color: var(--color-bg);
}

:focus {
  outline: var(--border-width) dashed var(--color, var(--color-text-muted));
  outline-offset: var(--outline-offset, var(--border-width));
}

.full-bleed {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 var(--space-l);
  }
}

@media screen and (min-width: 940px) {
  body {
    margin: 0 auto;
  }
}
