@import url("./_typography.css");

:root {
  /* URL: https://coolors.co/222222-434343-a5a5a5-dfdfdf-f6f6f6-f9f9f9 */
  /* CSS HEX */
  --eerie-black: #222222ff;
  --onyx: #434343ff;
  --silver: #a5a5a5ff;
  --platinum: #dfdfdfff;
  --seasalt: #f6f6f6ff;
  --seasalt-2: #f9f9f9ff;

  /* CSS HSL */
  --eerie-black: hsla(0, 0%, 13%, 1);
  --onyx: hsla(0, 0%, 26%, 1);
  --silver: hsla(0, 0%, 65%, 1);
  --platinum: hsla(0, 0%, 87%, 1);
  --seasalt: hsla(0, 0%, 96%, 1);
  --seasalt-2: hsla(0, 0%, 98%, 1);

  --color-bg: var(--seasalt);
  --color-bg-light: var(--seasalt-2);
  --color-bg-muted: var(--platinum);
  --color-text: var(--eerie-black);
  --color-text-muted: var(--onyx);
  --color-shadow: var(--silver);

  --shadow-color: var(--color-shadow);

  --space-s: 0.25rem;
  --space-m: 0.5rem;
  --space-l: 1rem;
  --space-xl: 1.75rem;
  --space-xxl: 3rem;

  --border-radius-s: 4px;
  --border-radius-m: 6px;

  --border-width-s: 1px;
  --border-width: 2px;

  --content-width: 940px;

  --duration: 300ms;
  --animation-duration: 900ms;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--seasalt);
    --color-text-muted: var(--platinum);
    --color-bg-light: hsla(0, 0%, 10%, 1);
    --color-bg: var(--eerie-black);
    --color-bg-muted: var(--onyx);
    --color-shadow: hsla(0, 0%, 38.2%, 1);
  }
}

@media (prefers-reduced-motion) {
  :root {
    --duration: 0;
    --animation-duration: 0;
    --scroll-behavior: initial;
  }
}

html {
  background-color: var(--color-bg);
  color: var(--color-text-muted);
}

* {
  scrollbar-color: var(--color-shadow) var(--color-bg);
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  max-width: var(--content-width);
}

main {
  flex: 1 0 auto;
  margin: 0;
}

img,
picture {
  display: block;
  max-height: 100%;
  max-width: 100%;
  /* background-color: var(--bg-color, transparent); */
}

::selection {
  background-color: var(--color-text-muted);
  color: var(--color-bg);
}

::-webkit-scrollbar {
  width: var(--space-s);
}

::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-shadow);
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

:focus {
  outline: var(--border-width) dashed var(--color, var(--color-text-muted));
  outline-offset: var(--outline-offset, var(--border-width));
}

.full-bleed {
  margin-left: calc(50% - 50vw);
  width: 100vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0 var(--space-l);
  }
}

@media screen and (min-width: 940px) {
  body {
    margin: 0 auto;
  }
}

@media print {
  [data-noprint] {
    display: none !important;
  }
}
