.form {
  --gap: var(--space-m);

  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  gap: var(--gap);
  padding: var(--space-l);
}

.form > * {
  flex: 1 0 100%;
}

.form > button {
  flex: 1 0 100%;
}

@media screen and (min-width: 768px) {
  .form {
    --gap: var(--space-l);
  }

  .form > *,
  .form > :first-child {
    flex: 1 0 calc(33.33333% - var(--gap) * 0.666667);
  }
}
