.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--space-m);
}

.square {
  flex: 0 0 calc(33% - var(--space-m) * 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  color: var(--color-bg);
}
