.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
}

.gallery {
  --gap: var(--space-s);

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: stretch;
  gap: var(--gap);
}

.gallery > * {
  flex: 0 0 calc(33.33333% - var(--gap) * 0.6666667);
  display: block;
}

.gallery img {
  width: 100%;
  height: auto;
}

.cursor {
  flex: 1 0 auto;
  display: block;
  text-align: center;
}

.end {
  position: relative;
  display: block;
  margin: var(--space-xl) auto;
  color: var(--color-text-muted);
  text-align: center;
}

.end a::before {
  content: "\2190";
  display: inline-block;
  margin-right: var(--space-s);
}

@media screen and (min-width: 414px) {
  .gallery {
    --gap: var(--space-m);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    --gap: var(--space-l);
    margin: 0;
  }
}

@media screen and (min-width: 940px) {
  .gallery {
    --gap: var(--space-xl);
  }
}
