.detailLink {
  --link-color: var(--color-bg-muted);
  --bg-color: var(--color-text);

  transition: background-color var(--duration) ease-in,
    color var(--duration) ease-in;
}

.detailLink:hover {
  --link-color: var(--color-bg-light);
  --bg-color: var(--color-text-muted);
}

.detailLink {
  display: inline-block;
  border-radius: var(--border-radius-s);
  padding: var(--space-m) var(--space-l);
  background-color: var(--bg-color);
  text-decoration: none;
}

.detailLink::after {
  content: "\2192";
  display: inline-block;
  margin-left: var(--space-s);
}

.modal > article {
  flex-grow: 1;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
}
