---
import Default from "@layouts/Default.astro";
---

<Default>
  <h1>404</h1>
  <center>
    <span>This page could not be found.</span>
    <br />
    <br />
    <a href="/">Go back to the home page.</a>
  </center>
</Default>

<style>
  a::before {
    content: "\2190";
    display: inline-block;
    margin-right: var(--space-s);
  }
</style>
