---
import { FilterForm } from "@components/preact/FilterForm";
import { fetchFilters } from "@utils/helpers";

const params = new URL(Astro.url).searchParams;

const props = await fetchFilters(params);
---

<section>
  <FilterForm client:idle {...props} />
</section>

<style>
  section {
    display: flex;
    justify-content: center;
  }
</style>
