---
import { Picture } from "@astrojs/image/components";
import pkg from "../../package.json";
---

<header aria-labelledby="title">
  <div data-avatar>
    <Picture
      src="https://via.placeholder.com/192x192.png"
      alt=""
      sizes="(min-width: 640px) 96px, 64px"
      widths={[64, 96, 128, 192]}
      aspectRatio={1}
      formats={["avif", "webp", "jpeg"]}
      loading="eager"
      width="64"
      height="64"
    />
  </div>
  <div>
    <h1 id="title">{pkg.short_name}</h1>
    <p>{pkg.description}</p>
  </div>
</header>

<style>
  header {
    --gap: var(--space-m);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);
  }

  img {
    border-radius: 9999px;
    height: 64px;
    width: 64px;
  }

  div {
    flex: 2 0 var(--gap);
  }

  #title {
    margin: 0;
    font-size: var(--font-size-h4);
    text-align: left;
  }

  [data-avatar] {
    flex: 1 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    img {
      height: 96px;
      width: 96px;
    }
  }
</style>
