---
import { Picture } from "@astrojs/image/components";
import pkg from "../../package.json";
---

<header aria-labelledby="title">
  <div data-avatar>
    <Picture
      src="https://via.placeholder.com/256x256.png"
      alt={`Avatar of ${pkg.author.name}`}
      sizes="(min-width: 640px) 96px, 64px"
      widths={[64, 128, 192, 256]}
      aspectRatio={1}
      formats={["avif", "webp", "jpeg"]}
      loading="eager"
      background={undefined}
      width={64}
      height={64}
    />
  </div>
  <div>
    <h1 id="title">{pkg.short_name}</h1>
    <p>{pkg.description}</p>
  </div>
</header>

<style>
  header {
    --gap: var(--space-s);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    margin: var(--space-xl) 0 var(--space-xxl);
  }

  img {
    border-radius: 9999px;
    height: 64px;
    width: 64px;
  }

  div {
    flex: 2 0 var(--gap);
  }

  header p {
    margin-bottom: 0;
  }

  #title {
    margin: 0;
    font-size: var(--font-size-h4);
    text-align: left;
  }

  [data-avatar] {
    flex: 1 0 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 414px) {
    header {
      --gap: var(--space-m);
    }
  }

  @media screen and (min-width: 768px) {
    header {
      --gap: var(--space-l);
    }

    img {
      height: 128px;
      width: 128px;
    }
  }

  @media screen and (min-width: 940px) {
    header {
      --gap: var(--space-xl);
    }
  }
</style>
