---
import { pwaInfo } from "virtual:pwa-info";
import SEO from "@components/SEO.astro";
import Header from "@components/Header.astro";

import "gardevoir/dist/index.min.css";
import "@styles/_base.css";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/Cabin-VariableFont_wdth,wght.ttf"
      as="font"
      crossorigin="anonymous"
    />
    <SEO />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <main>
      <slot />
    </main>
    <script src="/src/utils/pwa.ts"></script>
  </body>
</html>
