---
import Profile from "@components/Profile.astro";
import Base from "./Base.astro";

const props = Astro.props;
---

<Base {...props}>
  <Profile />
  <main>
    <slot />
  </main>
  <aside id="modal"></aside>
</Base>
